<h1>Title:<%= @post.title %></h1>
<h1>URL:<%= @post.url %></h1>
<h1>Email:<%= @post.user.email %></h1>
<h1>Date:<%= @post.created_at %></h1>


 <%= form_for @comment do |f| %>
 	<%= f.label :content %>
 	<%= f.text_field :content %>
	<%= f.text_field :post_id, :value => @post.id, :hidden => true %>
	<%= f.submit "Submit new comment" %>
 <% end %>


<h1>Comments</h1>

	<table class="table table-condensed">
		<thead>
			<tr>
			<th>Content</th>
			<th>Owner</th>
			</tr>
		</thead>

		<tbody>
			 <% @post.comments.each do |comment| %>
			 	<tr>
			 	<td><%= comment.content %></td>
			 	<td><%= comment.user.email %><td>
			 	</tr>
			<% end %>
		</tbody>
	</table>
